.info {
  margin-top: 22%;
  .tags {
    display: flex;
    gap: 16px;
  }
  > h1 {
    margin-top: 24px;
    font-size: 70px;
    font-weight: 500;
    color: var(--txt_color);
    line-height: 84px;
    > strong {
      color: var(--blue_color);
    }
    margin-bottom: 20px;
  }
}
