.info {
  position: absolute;
  top: 40%;
  left: 110px;
  transform: translate(0%, -40%);
  .tags {
    display: flex;
    gap: 16px;
    width: 100%;
    flex-wrap: wrap;
  }
  > h1 {
    margin-top: 24px;
    font-size: 70px;
    font-weight: 500;
    color: var(--txt_color);
    > strong {
      color: var(--blue_color);
    }
    margin-bottom: 10px;
  }

  > span {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    display: block;
  }

  .btn {
    margin-top: 34px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    > a {
      padding: 26px 52px;
      border-radius: 82px;
      font-weight: 600;
      font-size: 26px;
      text-align: center;
      width: 100%;
      color: #ffffff;
      background-color: rgba(24, 117, 248, 1);
      transition: all 0.2s ease-in-out;
      &:hover {
        box-shadow: 0px 4px 4px #82bcfc;
      }
    }
  }
}

@media (max-width: 1000px) {
  .info {
    > span {
      font-size: 20px;
    }
    .tags {
      gap: 5px 2px;
    }
    > h1 {
      margin-top: 13px;
      font-size: 33px;
    }
    left: 50px;
    .btn {
      > a {
        font-size: 20px !important;
      }
    }
  }
}

@media (max-width: 800px) {
  .info {
    position: relative;
    height: 100%;
    left: auto;
    margin-top: 15%;
    .btn {
      width: 100%;
      position: absolute;
      bottom: 150px;
      left: 0px;
      .link__md {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      > span {
        color: #ffffff;
      }
    }
  }
}

@media (max-width: 650px) {
  .info {
    padding-right: 23px;
    > span {
      font-size: 16px;
    }
    > h1 {
      min-width: 300px;
      margin-top: 10px;
      font-size: 30px;
    }
  }
  .btn {
    > a {
      padding: 20px 0px !important;
      font-size: 18px !important;
    }
  }
}
