.task {
  background-color: var(--bg_color);
  border-radius: 16px;
  padding: 28px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  height: 150px;
  > span {
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
  }
}
