.link {
  display: block;
  width: 290px;
  overflow: hidden;
  .image {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
    > img {
      object-fit: scale-down;

    }
  }

  > span {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    text-align: center;
    > span {
      white-space: nowrap;
    }
  }

  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 1000px) {
  .link {
    width: 220px;
    .image {
      > img {
        width: 220px;
        height: 220px;
      }
    }

    > span {
      font-size: 14px;
      margin-top: 0px;
    }
  }
}

// @media (max-width: 650px) {
//   .link {
//     width: 140px;
//     .image {
//       > img {
//         width: 140px;
//         height: 140px;
//       }
//     }

//     > span {
//       font-size: 12px;
//       margin-top: 10px;
//     }
//   }
// }
