.logos {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 100%;
  position: relative;
  .cross {
    width: 50px;
  }
  .mgtu {
    width: 300px;
  }
  .qapp {
    width: 125px;
  }
  //   top: 0px;
  //   left: 0px;
}

@media (max-width: 1000px) {
  .logos {
    gap: 0px;
    margin-top: 10px;
    justify-content: start;
  }
}

@media (max-width: 650px) {
  .logos {
    gap: 17px;
    .cross {
      width: 40px;
    }
    .mgtu {
      width: 185px;
    }

    .qapp {
      width: 88px;
    }
  }
}
