.spher {
  padding: 8px 15px;

  background: linear-gradient(83.42deg, rgba(25, 193, 249, 0.7) 2.28%, rgba(25, 118, 249, 0.9) 109.47%), #1875f8;
  border-radius: 23px;
  color: #f3f6ff;
  font-weight: 400;
  font-size: 30px;
  line-height: 31px;
}
