.btn {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  .link__md {
    background-color: var(--txt_color);
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 16px;
    border-radius: 60px;
    padding: 20px 50px;
    position: relative;
    transition: all 0.2s ease-in-out;
    .active_children {
      z-index: 2;
      position: relative;
      opacity: 1;
      color: var(--bg_color);
      transition: all 0.2s ease-in-out;
    }
    .hover_children {
      opacity: 0;
      position: absolute;
      top: 0px;
      left: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: linear-gradient(83.42deg, rgba(25, 193, 249, 0.3) 2.28%, rgba(25, 118, 249, 0.6) 109.47%), #ffffff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      transition: all 0.2s ease-in-out;
    }

    &:hover .active_children {
      opacity: 0;
    }
    &:hover .hover_children {
      opacity: 1;
    }
    &:hover {
      box-shadow: 0px 4px 4px #82bcfc;
    }
  }
  .link__lg {
    background-color: var(--txt_color);
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 28px;
    border-radius: 100px;
    padding: 32px 90px;
    position: relative;
    transition: all 0.2s ease-in-out;
    .active_children {
      z-index: 2;
      position: relative;
      opacity: 1;
      color: var(--bg_color);
      transition: all 0.2s ease-in-out;
    }
    .hover_children {
      opacity: 0;
      position: absolute;
      top: 0px;
      left: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: linear-gradient(83.42deg, rgba(25, 193, 249, 0.3) 2.28%, rgba(25, 118, 249, 0.6) 109.47%), #ffffff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      transition: all 0.2s ease-in-out;
    }

    &:hover .active_children {
      opacity: 0;
    }
    &:hover .hover_children {
      opacity: 1;
    }
    &:hover {
      box-shadow: 0px 4px 4px #82bcfc;
    }
  }
  > span {
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    color: var(--txt_secondary_color);
  }
}
