.preview {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 100;
  min-height: 750px;
  padding: 85px 110px;
  .back {
    background-color: #ebf4fd;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0px;
    left: 0px;
    .image {
      width: 100%;
      height: 100%;
      > svg {
        height: 100%;
        width: 100%;
      }
      background-position: bottom right;
      -webkit-background-size: auto;
      background-size: auto;
    }
    .logo {
      position: absolute;
      right: -15%;
      bottom: -300px;
      width: 60%;
      //   max-width: 1200px;
      min-width: 450px;
      > svg {
        height: 100%;
        width: 100%;
      }
    }
  }
}

@media (max-width: 1000px) {
  .preview {
    padding: 35px 55px;

    .back {
      .logo {
        width: 70%;
        bottom: -150px;
      }
    }
  }
}

@media (max-width: 800px) {
  .preview {
    .back {
      .logo {
        bottom: 25px;
        left: 10%;
        width: 20%;
      }
    }
  }
}

@media (max-width: 650px) {
  .preview {
    padding: 17px 23px;
  }
}
