.info {
  padding: 120px 66px 80px 66px;
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  h1{
    margin-bottom: 74px;
  }
}

@media (max-width: 1000px) {
  .info {
    padding: 100px 30px 60px 30px;
  }
}

@media (max-width: 650px) {
  .info {
    padding: 74px 16px 30px 16px;
  }
}
