@import './mixins.scss';
@import './variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;600;700&display=swap');

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--bg_color);
  font-family: 'Onest', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: var(--txt_color);
  scroll-padding-top: 107px;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
