.scenario {
  position: relative;
  width: 100%;
  padding: 40px 0px 70px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 92px;
    margin-bottom: 74px;
    // overflow: auto;
    .container_grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      gap: 10px;
      .cards {
        padding: 0 66px; // Отступы внутри контейнера
        display: flex;
        gap: 13px;
        min-width: 0; // Не даем растягиваться больше контейнера
        overflow-x: auto; // Горизонтальная прокрутка
        flex-wrap: wrap;
        scrollbar-width: none;
        -ms-overflow-style: none;
        justify-content: center;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .scenario {
    padding-bottom: 20px;

    .container {
      margin-top: 80px;
      margin-bottom: 30px;
    }
  }
}
