.scenario {
  position: relative;
  width: 100%;
  padding: 40px 0px 70px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .row_1 {
    display: block;
    width: 520px;
    text-align: start;
    margin: 0 auto;
  }
  .row_2 {
    margin: 0 auto;
    display: block;
    width: 520px;
    text-align: end;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 92px;
    margin-bottom: 50px;
    // overflow: auto;
    .cards {
      display: flex;
      gap: 13px;
      min-width: 0; // Не даем растягиваться больше контейнера
      overflow-x: auto; // Горизонтальная прокрутка
      padding: 0 66px; // Отступы внутри контейнера
      flex-wrap: wrap;
      scrollbar-width: none;
      -ms-overflow-style: none;
      justify-content: center;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

@media (max-width: 1000px) {
  .scenario {
    .row_1 {
      width: 350px;
    }
    .row_2 {
      width: 350px;
    }
  }
}

@media (max-width: 650px) {
  .scenario {
    padding-bottom: 20px;
    .row_1 {
      width: 270px;
    }
    .row_2 {
      width: 270px;
    }

    .container {
      margin-top: 80px;
      margin-bottom: 30px;
    }
  }
}
