.career {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 103px;
  padding-top: 86px;
}

@media (max-width: 1000px) {
  .career {
    padding-bottom: 50px;
  }
}

@media (max-width: 650px) {
  .career {
    padding-top: 64px;
    padding-bottom: 30px;
  }
}
