.page {
  padding: 72px 10px 177px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  > h2 {
    margin-top: 4px;
    margin-bottom: 70px;
    color: var(--blue_color);
    font-weight: 500;
    font-size: 16px;
  }

  .container {
    display: flex;
    gap: 20px;
    .photos {
      flex: 1;
      display: grid;
      grid-template-columns: repeat(6, 1fr); /* 6 равных колонок */
      grid-template-rows: auto auto auto auto; /* 4 строки */
      gap: 20px 6px;
      max-width: 890px;

      .main_photo {
        grid-column: 1 / span 6; /* Занимает все 6 колонок */
        grid-row: 1 / span 3; /* Занимает первые 3 строки */
        border-radius: 18px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .page {
    padding: 42px 10px 100px 10px;
    > h2 {
      margin-bottom: 55px;
    }
    .container {
      flex-direction: column;
      align-items: center;
      .photos {
        max-width: none;
      }
    }
  }
}

@media (max-width: 850px) {
  .page {
    .container {
      .photos {
        grid-template-columns: repeat(3, 1fr);
        gap: 6px;
        .main_photo {
          grid-column: 1 / span 3;
          grid-row: 1 / span 2;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .page {
    padding: 42px 10px 100px 10px;
    .container {
      .photos {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(3, 120px);
        gap: 6px;
        .main_photo {
          grid-column: 1 / span 2;
          grid-row: 1;
          border-radius: 12px;
        }
      }
    }
  }
}
