.right {
  position: relative;
  display: block;
  width: 50%;
  min-width: 550px;
  .container_tasks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 13px;
    margin-bottom: 30px;
  }
  > h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 22px;
  }
  .spheres {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 8px;
  }
}

@media (max-width: 1180px) {
  .right {
    width: 100%;
    min-width: 0px;
    .container_tasks {
      display: flex;
      overflow: auto;
      gap: 10px;
      /* Скрытие полос прокрутки */
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

@media (max-width: 1000px) {
  .spheres {
    gap: 4px;
  }
}
