.right {
  position: relative;
  display: block;
  width: 50%;
  .container_tasks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 13px;
    margin-bottom: 30px;
  }
  > h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 22px;
  }
  .spheres {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 8px;
  }
}
