.blocks {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 130px;
  margin-bottom: 63px;
  //   height: 650px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 1300px) {
  .blocks {
    flex-wrap: wrap;
  }
}

@media (max-width: 1000px) {
  .blocks {
    margin-top: 50px;
  }
}

@media (max-width: 776px) {
  .blocks {
    margin-top: 50px;
    gap: 8px;
  }
}
