.map {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 173px;
  .container {
    margin-top: 120px;
    display: flex;
    align-items: stretch;
    gap: 30px;
    min-width: 0;
    padding: 0 16px;
    flex-wrap: wrap;
    justify-content: center;

    .info {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      min-width: 370px;
      flex: 1;
      h2 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 30px;
      }

      .count_info {
        font-size: 26px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        > p {
          margin: 0;
        }
        > span {
          font-weight: 700;
          font-size: 22px;
          border-radius: 50%;
          background-color: var(--blue_color);
          color: #ffff;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 15px;
        }
      }
      .qr_code {
        display: flex;
        align-items: end;
        justify-content: start;
        gap: 15px;
        > p {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .map {
    padding-bottom: 120px;
    .container {
      margin-top: 50px;
      gap: 15px;
      > img {
        width: 450px;
      }

      .info {
        > h2 {
          font-size: 22px;
          margin-bottom: 20px;
        }

        .count_info {
          font-size: 20px;

          > span {
            font-size: 18px;
            width: 24px;
            height: 24px;
          }
        }

        .qr_code {
          gap: 10px;
          > p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .map {
    padding-bottom: 80px;
    padding-left: 16px;
    padding-right: 16px;
    .container {
      margin-top: 30px;
      gap: 10px;
      > img {
        width: 370px;
      }

      .info {
        > h2 {
          font-size: 18px;
          margin-bottom: 15px;
        }

        .count_info {
          font-size: 18px;

          > span {
            font-size: 16px;
            width: 20px;
            height: 20px;
          }
        }

        .qr_code {
          gap: 10px;
          > p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
